h3 {
    color: purple;
    font-family: "Comic Sans MS";
    font-size: 28pt;
    background-color: thistle;
    text-align: center;
}


table {border-color: purple; border-style: groove;

}

td {font-family: Constantia;
    font-size: 20pt;
    align-content: center;
    border-color: purple;
    border-style: wave;
    }

a:link { color: purple;


}

a:visited { color: crimson;

}

