h3 {text-align: center;
color: green;
background-color: lightgreen;
font-size:36px;}

table {

    color: darkslategray;
    border-style: solid;
    border-color: green;
    tab-size: 500px;
    font-size:24px;

}

button {font-size:24px;}

form {margin-left:40%;
size: 300px;
 font-size:24px;
}

