h1 {
    color: lightcoral;
    font-family: "Comic Sans MS";
    font-size: 48pt;
    background-color: antiquewhite;
}

h3 {
    color: purple;
    font-family: "Juice ITC", cursive;
    font-size: 24pt;


}


a:link { color: midnightblue;
     font-family: "Juice ITC", cursive;
    font-size: 20pt;
   margin-left: 80px;
    margin-right: 50px;

}


a:visited { color: crimson;
     font-family: "Juice ITC", cursive;
    font-size: 20pt;
 margin-left: 80px;
margin-right: 50px;
}

img {
    margin-right: 100px}