{% extends 'base.html' %}
{% load static %}
{% block title %}Каталог квизов{% endblock %}
{% block content %}
<h3 style="text-align: center">Полный список квизов</h3><br>
{% include 'personal.html' %}
<p style="text-align: center">
<table border = "3" width="1000">
         <tr>
            <td align="center"> <b>Название</b></td>
            <td align="center"><b>Бренд</b></td>
            <td align="center"><b>Категория</b></td>
         </tr>

         {% for quiz in quiz_all %}
             <tr>
             <td align="center"><a href="{% url 'quiz' quiz.id %}">{{quiz.name}}</a></td>
             <td align="center">
                 <img width=100 src="{{quiz.label.url}}">
                 </td>
             <td align="center">{{quiz.category}}</td>
          </tr>
         {% endfor %}
</table>
</p>
<br><br><br>

{% endblock %}