{% extends 'base.html' %}
{% load static %}
{% block title %}{{quiz.name}}{% endblock %}
{% block content %}
{% include 'personal.html' %}
<img width=100 src="{{quiz.label.url}}">
<h1>{{quiz.name}}</h1><br>
<a href="{% url 'criteria' quiz.id %}">Пройдите по ссылке и оцените квиз</a><br><br><br>
<h4>О квизе:</h4> {{quiz.description}}
<p>
<h4>Категория:</h4> {{quiz.category}}</p>
<p>
<h4>Свежая информация (обновление статуса ВК):</h4> {{quiz.fresh}} Подробности: <a href="{{quiz.site}}">{{quiz.site}}</a></p>
<p>
<h4>Дата ближайшей игры:</h4> {{next_date.0}}<br></p>

<div><h1>Отзывы</h1>
    {% for comment in comments %}
    <h5 style="color:purple">{{comment.author_com}} оставил(а) комментарий:</h5>
    <h4 style="background-color: antiquewhite">{{comment.comments_text}}</h4> <br>
    {% endfor %}
</div>

<form class="col s6 offset-s3 row" method="POST">
    {% csrf_token %}
    {{form_comments.as_p}}

    <span style="color:red" style="font-size: 20px" style="background-color:whitesmoke">{{warning}}</span>

    <button id="search_button" class="btn waves-effect blue white-text "
            type="submit">Опубликовать
    </button>
</form>
{% endblock %}