{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
</head>
<body>
 <h1 style="text-align: center" style="color: lightcoral"
    style="font-size: 48pt" style="background-color: antiquewhite">
    Quizomania: все о всех квизах Минска</h1><br>
{% include 'personal.html' %}
<h3>Для входа введите свой логин и пароль </h3>
<form action="" method="post">
    {% csrf_token %}
    <div class="input-field">
          Логин:
            {{ form.username}}
        {{form.errors}}
        </div><br>
     <div class="input-field">
          Пароль:
            {{ form.password}}
         {{form.errors}}
        </div><br>
    <button type ="submit">Войти</button>
</form>

<a href="{% url 'register' %}">Нет учетной записи - зарегистрируйся скорее :)</a>
<a href="{% url 'main' %}">Вернуться на главную страницу</a>
</body>
</html>