{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Квизы Минска</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>
<body>
<h1 style="text-align: center">Quizomania: все о всех квизах Минска</h1><br>
{% include 'personal.html' %}
<h3 style="text-align: center" >Добро пожаловать на сайт с подробной информацией
    о квизах Минска для любителей интеллектуальных игр</h3>

<br><br>
<p style="text-align: center">
<img width=200 src="{% static 'catalog.png'%}">
<img width=200 src="{% static 'rating.png'%}">
<img width=200 src="{% static 'afisha.jpg'%}">
<img width=180 src="{% static 'anketa.jpg'%}">
</p>
<p style="text-align: center">
    <a href="{% url 'quiz_all'%}">Каталог квизов</a>
    <a href="{% url 'rating'%}">Рейтинги </a>
    <a href="{% url 'afisha'%}">Афиша квизов </a>
    <a href="{% url 'anketa'%}">Анкета квизомана</a></p>
<br><br><br><br><br>
<p style="text-align: center">
    <img width=200 src="{% static 'search.jpg'%}">
    <img width=200 src="{% static 'registration.png'%}">
    <img width=200 src="{% static 'users.png'%}">
    <img width=180 src="{% static '01.jpg'%}">
    </p>
<p style="text-align: center">
    <a href="{% url 'search' %}" class="log">Поиск по сайту</a>
    <a href="{% url 'register' %}" class="log">Зарегистрироваться</a>
    <a href="{% url 'login' %}" class="log">Уже зарегистрирован</a>
    <a href="{% url 'brainstorm' %}" >Сыграем?</a>
</p>
<br><br><br>
<p style="text-align: center" style="color: gray"><b>Сайт не преследует коммерческих и рекламных целей</b></p>
</body>
</html>